.banner {
  max-width: 100%;
  height: 1000px;
  background-image: linear-gradient($gradient-banner-top,
    $gradient-banner-bottom),
    url(../img/eagle-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient($gradient-banner-top,
      $gradient-banner-bottom),
        url(../img/eagle@2x-min.jpg);
    }
  }
}
