.site-navigation {
  display: flex;
  width: 630px;
  padding-top: 36px;
  color: $main-font-white;

  &__item {
    position: relative;
    width: 90px;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s linear;

    &:hover .site-navigation__link {
      color: $primary-accent-yellow;
    }

    &__site-navigation__link .icon-cart {
      transition: fill 0.35s ease-in-out;
    }

    &:hover .site-navigation__link .icon-cart {
      fill: $primary-accent-yellow;
    }

    &:hover .site-navigation__link .icon-searching {
      color: $primary-accent-yellow;
      transition: fill 0.35s ease-in-out;
    }
  }

  &__link {
    text-transform: uppercase;
    font-family: $main-font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $main-font-white;
    padding-bottom: 8px;
    transition: all 0.5s ease-in-out;

    &:hover {
      border-bottom: 3px solid $primary-accent-yellow;
    }

    &:focus {
      color: $primary-accent-yellow;
      transition: all 0.35s ease-in-out;
    }
  }
}

/*
.icon-cart:focus {
  color: $primary-accent-yellow;
  transition: fill 0.35s ease-in-out;
}
*/

/*
.site-navigation__item {
  border-bottom: 3px solid $primary-accent-yellow;
  width: 0%;
  height: 3px;
  transition: width 0.35s ease-in-out;
}

.site-navigation__item:hover  {
  width: 100%;
}

/*
.site-navigation__item:hover .site-navigation__link {
  border-bottom: 3px solid $primary-accent-yellow;
  position: absolute;
  left: 0px;
  top: 28px;
  width: 100%;
  height: 3px;
  transition: width 0.35s ease-in-out;
}
*/


/* &::after {
      content: '';
      border-bottom: 3px solid $primary-accent-yellow;
      position: absolute;
      left: 0px;
      top: 28px;
      width: 0%;
      height: 3px;
    }
*/

/*
  .site-navigation__link:hover::after {
    content: '';
    border-bottom: 3px solid $primary-accent-yellow;
    position: absolute;
    left: 0px;
    top: 28px;
    width: 100%;
    height: 3px;
    transition: width 0.35s ease-in-out;
  }
*/
