.subscribe__button {
  font-family: $main-font-stack;
  font-size: 14px;
  font-weight: bold;
  border: none;
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: $color-bg-blue;
  margin-left: -4px;
  line-height: 40px;
  text-align: center;
  color: $main-font-white;
  text-transform: uppercase;
}
