$main-font-white: rgb(255, 255, 255);
$primary-accent-yellow:rgb(252, 227, 138);
$font-title-dark: rgb(51, 51, 51);
$font-paragraph-light: rgb(153, 153, 153);
$pseudo-underline-light: rgb(243, 129, 129);
$color-bg-light: rgb(149, 225, 214);
$underline-light: rgb(229, 229, 229);
$input-type-text: rgb(233, 233, 233);
$input-placeholder-text: rgb(203, 203, 203);