* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

/* HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  min-height: 80px; /*how to get height of header?*/
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(157, 227, 214);
}

.navigation-list {
  display: flex;
  width: 490px;
  justify-content: space-between;
}

.navigation-item {
  list-style: none;
  position: relative;
}

.navigation-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(157, 227, 214);
}

.navigation-item::after {
  content: "";
  border-bottom: 2px solid rgb(243, 129, 129);
  position: absolute;
  left: 0px;
  top: 22px;
  width: 0px;
  height: 3px;
  transition-property: width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  color: rgb(243, 129, 129);
}

.navigation-item:hover::after {
  width: 100%;
}

.navigation-item a:hover {
  color: rgb(243, 129, 129);
}

/*MAIN / WE-WORK-WITH */

.we-work-with {
  width: 1150px;
  margin: 0 auto;
}

.we-work-with__title {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 65px; /*???*/
}

.amazing-services__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 12px;
}

.amazing-services__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 36px auto 60px;
}

/*ARTICLE / WE WORK WITH*/

.section-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-list-unit {
  width: 335px;
  height: 125px;
}

.section-icon > img {
  position: absolute;
  margin-top: 5px;
}

.section-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  margin-bottom: 13px;
  padding-left: 65px;
}

.section-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  padding-left: 65px;
}

/*ARTICLE - WHO WE ARE*/

.describing-text {
  margin: auto;
  text-align: center;
  width: 940px;
  margin-bottom: 90px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.member-card {
  text-align: center;
}

.member-image {
  position: relative;
  display: block;
  margin: 0;
  width: 380px;
  height: 470px;
  background: rgb(149, 225, 211);
  z-index: 1;
}

.member-image > img {
  position: absolute;
  width: 380px;
  height: 470px;
  left: 0;
  z-index: 2;
}

.gradient {
  position: absolute;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(#f1918c, #e6cf82);
  opacity: 0;
  z-index: 3;
}

.member-image:hover .gradient {
  opacity: 0.8;
  transform: translate(-10px, -10px);
  transition: all .2s linear;
  cursor: pointer;
}

.member-image:hover > img {
  transform: translate(-10px, -10px);
  transition: all .2s linear;
}

.icons-row {
  display: flex;
  position: absolute;
  width: 380px;
  height: 470px;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-top: -10px;
}

.icon {
  opacity: 0;
  width: 58px;
  height: 48px;
  line-height: 58px;
  background: rgb(252, 227, 138);
  margin-left: 1px;
  z-index: 4;
  transition: all .35s linear;
  cursor: pointer;
}

.member-image:hover .icon {
  opacity: 1;
}

.icon:hover {
  background: rgb(149, 225, 211);
  transition: all .2s linear;
}

.member-card > h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  margin-top: 28px;
}

.member-card > p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter italic;
  font-style: italic;
  color: rgb(153, 153, 153);
  font-size: 15px;
  line-height: 24px;
  margin-top: 7px;
}

.who-we-are::after {
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  margin-top: 83px;
  background-color: rgb(229, 229, 229);
}

/*FOOTER*/

.footer {
  position: relative;
  display: flex;
  height: 62px;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 60px;
}

.footer > span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.address {
  text-decoration: none;
  cursor: pointer;
  color: rgb(51, 51, 51);
}

.address:hover {
  color: rgb(243, 129, 129);
}

input {
  width: 230px;
  height: 40px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter italic;
  font-style: italic;
  border: 1px solid rgb(233, 233, 233);
}

.subscribe {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: rgb(149, 225, 211);
  margin-left: -4px;
  line-height: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.button input[type="text"] {
  padding-left: 15px; 
}